{% extends 'main.html' %}

{% block content %}
<h1>{{club.name}}</h1>
<p>{{club.description}}</p>

<div class="comment-wrapper">
    <h3>Conversation</h3>
    <hr>
    {% for message in club_messages %}
    <div>
        <small>@{{message.user}} {{message.created|timesince}} ago</small>
        <p>{{message.body}}</p>
    </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your message here...">
    </form>
</div>
{% endif %}

{% endblock content %}